*{
  /* outline: 1px solid red */
}
@keyframes color-transition {
  0% {
    color: #34C759; /* hijau */
  }
  50% {
    color: #ffffff;
  }
  100% {
    color: #f8f406;
  }
}

.animation-color-transition {
  animation: color-transition 2s infinite;
}

.zain-regular {
  font-family: "Zain", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.zain-bold {
  font-family: "Zain", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.zain-extrabold {
  font-family: "Zain", sans-serif;
  font-weight: 800;
  font-style: normal;
}
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --shadow-box-shadow-first: 0px 1px 0px var(--shadow-color);
    --color-button-border-color: var(--border-color);
    --color-hover-background: var(--hover-background);
    --color-active-background: var(--active-background);
}

@layer base {
  :root {
    --shadow-color: rgba(55, 53, 47, 0.09);
    --border-color: rgba(55, 53, 47, 0.09);
    --hover-background: rgba(55, 53, 47, 0.06);
    --active-background: rgba(55, 53, 47, 0.16);
  }
  .dark {
    --shadow-color: rgba(255, 255, 255, 0.094);
    --border-color: rgba(255, 255, 255, 0.094);
    --hover-background: rgba(255, 255, 255, 0.055);
    --active-background: rgba(255, 255, 255, 0.03);
  }
  }