*{
  /* outline: 1px solid red */
}
@keyframes color-transition {
  0% {
    color: #34C759; /* hijau */
  }
  50% {
    color: #ffffff;
  }
  100% {
    color: #f8f406;
  }
}

.animation-color-transition {
  animation: color-transition 2s infinite;
}

.zain-regular {
  font-family: "Zain", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.zain-bold {
  font-family: "Zain", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.zain-extrabold {
  font-family: "Zain", sans-serif;
  font-weight: 800;
  font-style: normal;
}